*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace;
    background-image: url('../images/background.jpg');
    background-size: cover;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
img{
    width: 100%;
    height: 100%;
    display: block; /* remove extra space below image */
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-size: 1.3rem;
    font-weight: bold;
    background: purple;
    border: 1px solid black;
}
nav a{
    color: white;
}
nav a:hover{
    color: blue;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    /* background: blue; */
}
h1{
    margin: 1em 0;
    font-size: 2.5em;
    text-transform: capitalize;
    background: blue;
}
#search-span{
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
#search{
    width:100%;
    font-size: 1rem;
    padding: 0.1rem;
}
.output-list{
    display: flex;
    flex-direction: column;
    width: 65%;
}
.item{
    display: flex;
    align-items: center;
    background: aliceblue;
    border-radius: 25px;
    width: 90%;
    margin-bottom: 1rem;
}
.left{
    width: 10rem;
    height: 10rem;
    margin-right: 1em;
}
.left img{
    border-radius: 25px;
}
.right{
    display: flex;
    flex-direction: column;
}
.name{
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: bold;
}
.real-name{
    text-transform: capitalize;
    font-style: italic;
    font-size: 1.2rem;
}
.address{
    font-style: italic;
    font-size: 1rem;
}
.buttons{
    display: flex;
}
.btn{
    color: white;
    padding: 0.2rem;
    text-transform: capitalize;
    cursor: pointer;
    margin-top: 1em;
}
.add-to-favorites{
    background: limegreen;
}
.remove-from-favorites{
    background: red;
}

.notification{
    width: 60%;
    text-align: center;
    padding: 1em;
    font-size: 1rem;
    margin: 1em 0;
}
.green{
    background: limegreen;
    color: white;
}
.red{
    background: red;
    color: white;
}
.no-results{
    font-size: 1rem;
    padding: 1em;
    color: white;
    background: red;
    text-align: center;
    width: 100%;
}

.favo-page{
    margin-top: 1em;
}
.no-favorites{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1em;
    margin: 1em 0;
    color: white;
    background: red;
}

.hero-details{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    border-radius: 25px;
}
.hero-details img{
    margin: 0 auto;
    width: 25em;
    padding: 1em;
    border: 1px solid black;
    background: red;
}
.hero-details h1{
    background: none;
    text-align: center;
    text-decoration: underline;
    font-size: 3rem;
    margin: 0;
    margin-bottom: 0.3em;
}
.hero-details h2{
    text-align: center;
    margin-bottom: 0.3em;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5rem;
    text-decoration: underline;
}

.stats{
    display: flex;
    flex-direction: column;
    background: orangered;
    border-radius: 25px;
    border: 1px solid black;
    margin: 0 auto;
    width: 80%;
    align-items: center;
}

.stats h3{
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
}
.stats p{
    display: flex;
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 0.5em;
}

.stats p span{
    font-weight: bold;
    font-style: normal;
    font-size: 1.6rem;
}
